<div class="swiper-container swiper-container-basicSituation">
	<div class="swiper-pagination"></div>
	<div class="swiper-wrapper">
		<div class="swiper-slide" ng-repeat="pages in setModTwo" repeat-finish>
			<div ng-repeat="ques in pages">
				<!--是多选-->
				<div ng-if="ques.questionAnswerType == 2" id="{{ques.UUID}}">
					<div class="weui-cells__title"><span ng-bind="ques.questionContent"></span><span class="chooseInfo">(多选)</span></div>
					<div class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label" id="{{ques.UUID}}" for="checkbox-{{ques.UUID}}-{{itemOption.anwserId}}-{{$index}}" ng-repeat="itemOption in ques.options">
						<div class="weui-cell__hd">
							<input type="checkbox" class="weui-check" name="checkbox-{{itemOption.anwserId}}" id="checkbox-{{ques.UUID}}-{{itemOption.anwserId}}-{{$index}}">
							<i class="weui-icon-checked"></i>
						</div>
						<div class="weui-cell__bd">
							<h5 ng-bind="itemOption.anwserContent"></h5>
						</div>
					</label>
					</div>
				</div>
				<!--是单选-->
				<div ng-if="ques.questionAnswerType == 1" id="{{ques.UUID}}">
					<div class="weui-cells__title"><span ng-bind="ques.questionContent"></span></div>
					<div class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label" id="{{ques.UUID}}" for="radio-{{ques.UUID}}-{{itemOption.anwserId}}-{{$index}}" ng-repeat="itemOption in ques.options">
						<div class="weui-cell__hd">
							<input type="radio" class="weui-check" name="radio-{{ques.UUID}}" id="radio-{{ques.UUID}}-{{itemOption.anwserId}}-{{$index}}">
							<i class="weui-icon-checked"></i>
						</div>
						<div class="weui-cell__bd">
							<h5 ng-bind="itemOption.anwserContent"></h5>
						</div>
					</label>
					</div>
				</div>
				<!--是填空-->
				<div ng-if="ques.questionAnswerType == 3" id="{{ques.UUID}}">
					<div class="weui-cells weui-cells_form">
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label" ng-bind="ques.questionContent"></label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" placeholder="{{ques.questionContent}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>