<div class="swiper-container">
	<div class="swiper-pagination"></div>
	<div class="swiper-wrapper">
		<div class="swiper-slide">Slide4 1
			<div class="btn-group btn-group-md">
				<button type="button" ng-click="prevMode()" class="btn btn-default">上一章</button>
				<button type="button" ng-click="nextPage()" class="btn btn-default">下一页</button>
			</div>
		</div>
		<div class="swiper-slide">Slides 2
			<div class="btn-group btn-group-md">
				<button type="button" ng-click="prevPage()" class="btn btn-default">上一页</button>
				<button type="button" ng-click="nextPage()" class="btn btn-default">下一页</button>
			</div>
		</div>
		<div class="swiper-slide">Slides 3
			<div class="btn-group btn-group-md">
				<button type="button" ng-click="prevPage()" class="btn btn-default">上一页</button>
				<button type="button" ng-click="nextPage()" class="btn btn-default">下一页</button>
			</div>
		</div>
		<div class="swiper-slide">Slides 4
			<div class="btn-group btn-group-md">
				<button type="button" ng-click="prevPage()" class="btn btn-default">上一页</button>
				<button type="button" ng-click="nextPage()" class="btn btn-default">下一页</button>
			</div>
		</div>
		<div class="swiper-slide">Slides 5
			<div class="btn-group btn-group-md">
				<button type="button" ng-click="prevPage()" class="btn btn-default">上一页</button>
				<button type="button" ng-click="nextPage()" class="btn btn-default">下一页</button>
			</div>
		</div>
		<div class="swiper-slide">Slides 6
			<div class="btn-group btn-group-md">
				<button type="button" ng-click="prevPage()" class="btn btn-default">上一页</button>
				<button type="button" ng-click="nextPage()" class="btn btn-default">下一章</button>
			</div>
		</div>
	</div>
</div>
