<div class="swiper-container swiper-container-personal">
	<div class="swiper-pagination"></div>
	<div class="swiper-wrapper">
		<div class="swiper-slide" data-hash="slide1">
			<div class="slide-inner">
				<div ng-repeat="item in testDou">
					<div class="weui-cells__title" ng-bind="item.questionContent"></div>
					<div class="weui-cells weui-cells_checkbox">
						<label class="weui-cell weui-check__label" for="checkbox + {{$parent.$index}} + {{$index}}" ng-repeat="itemOption in item.options">
						<div class="weui-cell__hd">
							<input type="checkbox" class="weui-check" name="checkbox + {{$parent.$index}} + {{$index}}" id="checkbox + {{$parent.$index}} + {{$index}}">
							<i class="weui-icon-checked"></i>
						</div>
						<div class="weui-cell__bd">
							<h5 ng-bind="itemOption.anwserContent"></h5>
						</div>
					</label>
					</div>
				</div>
				<div ng-repeat="item in testSin">
					<div class="weui-cells__title" ng-bind="item.questionContent"></div>
					<div class="weui-cells weui-cells_checkbox">
						<label class="weui-cell weui-check__label" for="radio + {{$parent.$index}} + {{$index}}" ng-repeat="itemOption in item.options">
						<div class="weui-cell__hd">
							<input type="radio" class="weui-check" name="radio + {{$parent.$index}}" id="radio + {{$parent.$index}} + {{$index}}">
							<i class="weui-icon-checked"></i>
						</div>
						<div class="weui-cell__bd">
							<h5 ng-bind="itemOption.anwserContent"></h5>
						</div>
					</label>
					</div>
				</div>
				<div>
					<div class="weui-cells weui-cells_form">
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" placeholder="请输入姓名">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">qq</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入qq号">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label for="" class="weui-label">日期</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="date" value="">
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="weui-cells weui-cells_form">
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" placeholder="请输入姓名">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">qq</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入qq号">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<change-page></change-page>-->
		</div>





		<div class="swiper-slide" data-hash="slide2">Slide 2
			<change-page></change-page>
		</div>
		<div class="swiper-slide">Slide 3
			<change-page></change-page>
		</div>
		<div class="swiper-slide">Slide 4
			<change-page></change-page>
		</div>
		<div class="swiper-slide">Slide 5
			<change-page></change-page>
		</div>
		<div class="swiper-slide">Slide 6
			<next-mode info-mode="basicSituation"></next-mode>
		</div>
	</div>
</div>